
  @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Manrope:wght@500;800&family=Open+Sans&family=Poppins:wght@400;600&family=Quicksand:wght@300;400;600&family=Raleway:ital,wght@0,200;0,300;0,600;1,200;1,500&family=Roboto:wght@300;400;500;700;900&display=swap');

html{
    font-size: 62.5%;
    font-family: 'Manrope', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}